@charset "utf-8";

/* sub_ahsoka : 미디어쿼리 CSS - sub_ahsoka_media */

/********* 최대사이즈 1520px 이하 시작 *********/
@media screen and (max-width: 1520px) {
  body > * {
    overflow-x: hidden;
}
.slide-peek-box {
 max-width: 1520px;
}
.slider-wrap .col-8 {
  flex-basis: 50%;
}
.slider-wrap ul li .img-box {
  width: 300px;
  
}

}
/********* 최대사이즈 1520px 이하 끝 *********/

/********* 최대사이즈 1360px 이하 시작 *********/
@media screen and (max-width: 1360px) {
    /* 캐릭터 박스 한 줄에 4개씩 */
    .cbox ul {
      /* grid-template-columns: repeat(4, 1fr); */
    }
}
/********* 최대사이즈 1360px 이하 끝 *********/
