@charset "utf-8";

/* 공통 모듈 CSS - common.css */
/* 공유 기능 요소 셋팅 */

/* 공사중 표시 */
body * {
    outline: 2px dotted #bfbfbf;
}

body{
    overflow: hidden;
    background-color: #EBE9E6;
}

a {
    text-decoration: none;
    color: #000;
}

/* 네이게이션 */
.top-menu {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    width: 90px;
    height: 100%;
    background-color: #fff;
    right: 0;
    transform: translateZ(0);
    z-index: 1;
}

.top-menu a {
    display: none;
}


