@charset "utf-8";

/* 공통 모듈 CSS - common.css */
/* 공유 기능 요소 셋팅 */

/* 공사중 표시 */
body * {
    outline: 2px dotted #bfbfbf;
}
body{
    background-color: #EBE9E6;
}
a {
    text-decoration: none;
    color: #000;
}

/* 네이게이션 */
.menu {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    width: 90px;
    height: 100%;
    right: 0;
    transform: translateZ(0);
    background-color: #fff;
    z-index: 1;
}
.menu li {
    display: none;
}
.menu > div {
    vertical-align: middle;
}
/* 메뉴 버튼 : top-menu */
.menu-button {
    display: flex;
    width: 5rem;
    height: 5rem;
}
/* 장바구니 버튼 */
.cart {
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
}
/* 로그인 버튼 */
.login {
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
}
