@charset "utf-8";

/* 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap&family=Noto+Sans+KR:wght@100..900&display=swap"&family=Noto+Sans+KR:wght@500&display=swap&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* 
    0. 메뉴 등 일반체
    font-family: 'Noto Sans KR', sans-serif;

    1. 배너 타이틀 폰트
    font-family: "Archivo Black", sans-serif;

    2. 배너 링크 폰트
    font-family: "Titillium Web", sans-serif;
*/

/* 설명 숨기기 클래스 */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/**************** 공통 클래스 ****************/
html{
    scroll-behavior: smooth;
}

/* 중앙속 박스 */
.inbox{
    /* 블록박스 중앙정렬 */
    margin: 0 auto;
}

