@charset "utf-8";

/* SW19 메인 CSS - main.css */

/* 공통, 코어, 리셋, 그리드 CSS */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);
@import url(./grid12_flex.css);

.page {
    box-sizing: border-box;
    width: calc(100% - 90px);
    margin-bottom: 3rem;
}

/****************** 인트로 영역 : intro-page ******************/
#intro-page {
    height: 100vh;
    background: url(../images/story_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#intro-page .logo {
    background: url(../images/logo_w.png);
    z-index: 1;
}
#intro-page .desc-box {
    width: 50%;
    text-align: center;
    transform: translate(50%);
}
.main-title {
    color: #fff;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.main-text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

/****************** 메인 영역 : main-page ******************/
#main-page {
    height: 100vh;
    padding: 5rem;
}
.title {
    color: #000;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.text {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

/****************** 대표상품 영역 : product-page ******************/
#product-page {
    height: 100vh;
    padding: 5rem;
}
.slider {
    display: flex;
}
.slider .img-box {
    width: 60%;
    height: 70%;
    margin-right: 3rem;
}
.slider .img-box img { 
    width: 100%;
}
.slider .goods-box {
    width: 40%;
    height: 40%;
}
.slider .goods-box img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}