@charset "utf-8";

/* SW19 서브1 CSS - sub1.css */

/* 공통, 코어, 리셋, 그리드 CSS */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);
@import url(./grid12_flex.css);

.page {
    box-sizing: border-box;
    width: calc(100% - 90px);
    margin-bottom: 3rem;
}

/****************** 탑배너 영역 : top-banner ******************/

/****************** 메인 영역 : main-content ******************/
