/// 메인 페이지 CSS - index.scss ///

// 전체 공통 CSS 불러오기
@import "../css/common/core";
@import "../css/common/reset";
@import "../css/common/grid12_flex";

/* 타이틀, 텍스트 공통 */
.title {
  color: #000;
  font-size: 4rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.text {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}
