/// 메인 페이지 CSS - index.scss ///

// 전체 공통 CSS 불러오기
@import "../css/common/core";
@import "../css/common/reset";
@import "../css/common/grid12_flex";

/* 타이틀, 텍스트 공통 */
.title {
  color: #000;
  font-size: 4rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.text {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

/****************** 인트로 영역 : intro-page ******************/
#intro-page {
  height: 150vh;
  background: url(../../public/images/story_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* 인트로 로고 */
.intro-logo {
  height: 300px;
  left: 50%;
  margin: 15rem 0;
}
/* 텍스트 박스 */
#intro-page .desc-box {
  width: 50%;
  text-align: center;
  transform: translate(50%);
}
.main-title {
  color: #fff;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.main-text1 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 8rem 0;
  padding-top: 10rem;
}
.main-text2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 10rem;
}

/****************** 컬렉션 영역 : collection-page ******************/
#collection-page {
  padding: 5rem;

  .collection {
    /* 슬라이드 셋팅 */
    .slider {
      display: flex;
      /* 슬라이드 배너 이미지 박스 */
      .img-box {
        width: 60%;
        height: 70%;
        margin-right: 3rem;
      }
      .slider .img-box img {
        width: 100%;
      }
      /* 슬라이드 상품 이미지 박스 */
      .goods-box {
        width: 40%;
        height: 40%;

        img {
          width: 100%;
          object-position: center;
          object-fit: cover;
        }
      }

      /* 슬라이드 상품 이미지 */
      .desc-box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;

        /* 슬라이드 버튼 */
        .abtn {
          top: 40px;
          position: absolute;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          font-size: 50px;
          padding: 0;
          box-sizing: content-box;
          line-height: 40px;
          cursor: pointer;

          .lb {
            left: 78vw;
          }
          .rb {
            right: 5vw;
          }
        }
        /* 타이틀 이미지 */
        img {
          width: 90px;
          margin-bottom: 1.5rem;
          cursor: pointer;
        }
        h3,
        p {
          margin: 1rem 0;
          font-size: 1.6rem;
          line-height: 1.5;
          text-align: center;
        }
      }
    }
  }
}

/****************** 대표상품 영역 : Promotion-page ******************/
#Promotion-page {
  height: auto;
  padding: 5rem;

  .banner-box {
    aspect-ratio: 3/2;
    height: auto;
    overflow: hidden;

    img {
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .pbox {
    padding-top: 3rem;
    background-color: #ffffff99;

    h2 {
      margin-top: 1rem;
      font-size: 2rem;
    }
    h3 {
      font-size: 1.4rem;
      color: #999;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      li {
        width: 40rem;
        transition: 0.2s;
        cursor: pointer;

        .img-box {
          position: relative;
          display: inline-block;

          img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.3s ease;
          }
        }
        .img-box:hover .overlay {
          background-color: rgba(0, 0, 0, 0.65);
        }

        h3 {
          font-family: "Noto Sans Korean", "Malgun Gothic", "Nanum Gothic",
            "Noto Sans", sans-serif;
          font-weight: 400;
          font-size: 1.6rem;
          margin-top: 8px;
        }
      }
    }
  }
}

/****************** 하단 영역 : footer-page ******************/
#footer-page {
  height: 80vh;
  overflow: hidden;
}
.footer-box {
  margin: 0 auto;
  text-align: center;
  background-image: url(../../public/images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
}
.bg-color {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
/* 하단 로고 */
.footer-logo {
  height: 300px;
  left: 50%;
}
/* 구글 맵 버튼 */
.footer-box ul {
  padding-top: 5rem;
}
.footer-box li {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
  width: 15%;
  font-size: 1.5rem;
  outline: 1px solid #fff;
}
.footer-box a {
  color: #fff;
}
.footer-box li:hover {
  background-color: #fff;
}
.footer-box li:hover a {
  color: #000;
}
/* 회사 정보 박스 */
#footer-page span {
  display: block;
  padding: 1rem 0 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
