/// 메인 페이지 CSS - index.scss ///

// 전체 공통 CSS 불러오기
@import "../css/common/core";
@import "../css/common/reset";
@import "../css/common/grid12_flex";

/* 타이틀, 텍스트 공통 */
.title {
  color: #000;
  font-size: 4rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.text {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

/****************** 하단 영역 : footer-page ******************/
#footer-page {
  height: 72vh;
  overflow: hidden;

  .footer-box {
    margin: 0 auto;
    text-align: center;
    background-image: url(../../public/images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
  }
  /* 하단 로고 */
  .footer-logo {
    height: 300px;
    left: 50%;
  }
  /* 구글 맵 버튼 */
  .footer-box ul {
    padding-top: 5rem;
  }
  .footer-box li {
    display: inline-block;
    margin: 0 auto;
    padding: 1rem;
    width: 15%;
    font-size: 1.5rem;
    outline: 1px solid #fff;
    cursor: pointer;
  }
  .footer-box a {
    color: #fff;
    box-sizing: content-box;
  }
  .footer-box li:hover {
    background-color: #fff;
  }
  .footer-box li:hover a {
    color: #000;
  }

  /* 회사 정보 박스 */
  .info-box {
    margin-top: 1.5rem;
  }
  span {
    display: block;
    font-family: "Noto Sans Korean", "Malgun Gothic", "Nanum Gothic",
      "Noto Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2;
    text-align: center;
  }
}
