/* 회원가입 페이지 CSS : member.scss */

/* 최상위 부모박스 */
#login-page {
  height: 60vh;
  padding: 5rem;

  /* 전체박스 */
  .longin-box {
    max-width: 700px;
    min-height: 600px;
    padding: 15px;
    border: 1px solid #555;
    margin: 0 auto;

    h2 {
      text-align: center;
      padding: 15px;
      font-size: 30px;
    }

    li {
      position: relative;
      padding: 20px;
    }
    label {
      display: inline-block;
      width: 25%;
      text-align: right;
      font-size: 20px;
      white-space: nowrap;
    }
    input {
      width: 56%;
      height: 4vh;
      margin-left: 3%;
      font-size: 17px;
      vertical-align: baseline;
    }
    .msg {
      position: absolute;
      left: 31%;
      width: 50%;
      font-size: 14px;
      padding: 5px 0;
      font-weight: bold;
    }

    .login-btn {
      padding: 10px 200px;
      background-color: #000;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
    }
    .login-btn:hover {
      background-color: #545454;
    }
    ul {
      li:last-child {
        text-align: center;
        a {
          color: #0d6efd;
          text-decoration: none;
          &:hover {
            color: #000;
            text-decoration: overline;
            text-decoration-style: wavy;
          }
        }
      }
    }
  }
}
