/* 회원가입 페이지 CSS : member.scss */

#login-page {
  // height: 100vh;
  padding: 5rem;

  .longin-box {
    max-width: 700px;
    min-height: 600px;
    padding: 15px;
    border: 1px solid #555;
    margin: 0 auto;

    h2 {
      text-align: center;
      font-size: 30px;
      padding: 20px;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        padding: 20px 0;
        margin: 0 auto;
        width: 66%;
        flex-direction: column;

        a {
          font-size: 16px;
          color: #000;
          text-decoration: none;
          /* a요소 호버 */
          &:hover {
            color: #545454;
          }
        }

        label {
          display: inline-block;
          text-align: left;
          font-size: 20px;
          margin-bottom: 5px;
        }

        input {
          height: 4vh;
          font-size: 16px;
        }

        .msg {
          width: 50%;
          font-size: 16px;
          margin-top: 5px;

          small {
            color: red;
            font-size: 15px;
          }
        }

        .login-btn {
          padding: 10px 200px;
          background-color: #000;
          font-size: 20px;
          color: #fff;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: #545454;
          }
        }
      }
    }
    .join-find-box {
      display: flex;
      width: 66%;
      margin: 0 auto;
      padding: 0;
      flex-direction: row;
      justify-content: space-between;

      li {
        padding: 20px 0;
        a {
          font-size: 16px;
          color: #000;
          text-decoration: none;

          &:hover {
            color: #545454;
          }
        }
      }

      .find-btn {
        text-align: right;
      }
    }
  }
}
