/* Search 모듈용 CSS - searching.scss  */

#search-page {
  padding: 5rem;

  /* 검색입력창 박스 */
  .searching {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #efefef;
    box-sizing: border-box;
    padding: 0 5px;
  }
  .searching input {
    font-size: 15px;
    width: 77%;
    margin-top: 9px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
  }
  input:focus {
    outline: none;
  }
  .schbtn {
    cursor: pointer;
    margin-top: 9px;
    margin-left: 10px;
  }
  
  .big-title {
    font-size: min(35px, 5vw);
    margin: 20px 0;
  }
  
  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }
  
  .restit {
    font-size: min(35px, 4vw);
    margin: 10px;
  }
  
  /* 검색 박스 */
  .schbx {
    display: flex;
    max-width: 1420px;
    min-height: 600px;
    padding: 0;
    padding-top: 20px;
  }
  
  /* 검색 옵션 박스 */
  .schopt {
    width: 30%;
  }
  /* 상품 리스트 박스 */
  .listbx {
    width: 85%;
  }
  
  /* 정렬 박스 */
  .sortbx {
    padding-bottom: 15px;
    overflow: hidden;
  }
  .sel {
    float: right;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    letter-spacing: 4px;
    background-color: transparent;
  }
  .sel:focus {
    outline: none;
  }
  
  /* 체크 박스의 박스 */
  .chkbx h2 {
    margin: 15px 0 5px;
  }
  .spbtn {
    display: block;
    float: right;
    margin-right: 5px;
    font-size: 30px;
    line-height: 25px;
    cursor: pointer;
  }
  .chkbx ol > li {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  /* 체크박스 숨김 */
  .chkbx input[type="checkbox"] {
    display: none;
  }
  /* 체크박스 대신 label로 디자인 노출 */
  .chklb {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
  }
  /* 체크박스 체크시 라벨디자인 변경 */
  input:checked + .chklb {
    background-color: #0d6efd;
    text-align: center;
    font-weight: bold;
  }
  input:checked + .chklb::before {
    content: "√";
    color: #fff;
    line-height: 0;
  }


}

