/// Shop 페이지 공통 상단 배너 CSS - top-banner.scss ///

/***************** 상단 배너 - TopBanner *****************/
#top-banner {
  overflow: hidden;

  .cont-box {
    height: 60vh;
    position: relative;
    margin: 0 auto;
    padding: 0 90px 0 0;

    img {
      width: 100%;
      object-position: bottom;
      object-fit: cover;
    }
  }
}

/***************** 상품 영역 - Products *****************/
#product-page {
  padding: 5rem;

  .big-title {
    font-size: 10rem;
    margin-bottom: 7rem;
  }

  .pbox {
    display: flex;
    padding-top: 3rem;
    background-color: #fff;

    h2 {
      margin-top: 1rem;
      font-size: 2rem;
    }
    h3 {
      font-size: 1.4rem;
      color: #999;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      li {
        width: 40rem;
        margin-bottom: 2rem;
        cursor: pointer;

        .img-box {
          position: relative;
          display: inline-block;

          img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.3s ease;
          }
        }

        h3 {
          font-family: "Noto Sans Korean", "Malgun Gothic", "Nanum Gothic",
            "Noto Sans", sans-serif;
          font-weight: 400;
          font-size: 1.6rem;
          margin-top: 8px;
        }
      }
    }

    .load-more-btn {
      display: block;
      margin: 20px auto;
      padding: 10px 40px;
      font-size: 1.8rem;
      cursor: pointer;
      border: 1px solid #000;
      transition: 0.3s;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/***************** 상세 페이지 - Detail *****************/
#detail-page {
  margin: 0 0 10rem;
  padding: 5rem;

  .btn-box {
    display: flex;
    justify-items: center;
    align-items: center;

    .back-btn {
      display: flex;
      width: 40px;
      height: 40px;
      font-size: 60px;
      transform: scaleX(0.7);
      align-items: center;
      justify-content: center;
      line-height: 1.2;
      padding: 10px 0;
      box-sizing: content-box;
      cursor: pointer;
    }

    span {
      display: flex;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .inbox {
    display: flex;

    .img-box {
      box-sizing: border-box;
      width: 60%;
      aspect-ratio: 1/1;
      padding: 0 15px 0 0;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .desc-box {
      box-sizing: border-box;
      width: 50%;
      background-color: #fff;
      border-radius: 20px;
      margin: 0 auto;
      padding: 20px 30px;

      .heading-area {
        position: relative;
        margin: 24px;
        padding: 0 0 21px;
        border-bottom: 1px solid #212121;
        border-color: rgba(33, 33, 33, 0.1);

        .sub-title {
          color: #000;
          font-size: 3rem;
          text-align: left;
          line-height: 1.2;
          margin-bottom: 10px;
        }
        h3 {
          color: #999;
          font-size: 2.3rem;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }

      .text-area {
        margin: 24px;
        line-height: 1.5;
        color: #212121;

        p {
          font-size: 1.5rem;
          text-align: left;
          line-height: 1.5;
          margin-bottom: 15px;
        }

        .small-text aside {
          font-size: 1.4rem;
          font-family: "Noto Sans Korean", "Malgun Gothic", "Nanum Gothic",
            "Noto Sans", sans-serif;
          color: #888;

          p {
            font-size: 1.4rem;
          }
        }
        .notice-text aside {
          margin-top: 30px;

          p {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1;
            color: #000;
          }
        }
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  hr {
    margin: 60px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }

  .detail-box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff95;
    padding: 20px;

    .img-box img {
      width: 100%;
    }
  }
}

/***************** 수량 증감/장바구니 버튼 *****************/
.item-quantity {
  padding-top: 20px;
  justify-content: space-between;

  .btn-box1 {
    display: flex;

    input {
      font-size: 2rem;
      border: 0;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }

    .increase {
      font-size: 23px;
      padding: 5px;
    }
    .decrease {
      font-size: 23px;
      padding: 5px;
    }
  }
}
/* 구매 버튼 */
.btn-box2{
  display: flex;
  gap: 10px;

  .buy-btn {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 2rem;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
  }
  .cart-btn {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 2rem;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;

  }
}

