/// 헤더 탑메뉴 CSS - top-area ///

/**************** 탑 메뉴 바 기본 구성 ****************/
.menu {
  position: fixed;
  margin: 0 auto;
  padding: 0;
  width: 90px;
  height: 100%;
  right: 0;
  transform: translateZ(0);
  background-color: #fff;
  z-index: 9999;

  /* 라인 박스 */
  .lines {
    position: absolute;
    display: flex;
    transform-origin: left;
    transform: rotate(90deg);
    top: 100px;
    left: calc(100% - 50%);

    .line {
      font-size: 1.6rem;
      margin-left: 2rem;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      white-space: nowrap;
      line-height: 1.3;
    }
  }
  .line:first-child {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
  }

  /* 햄버거 버튼 */
  .menu-button {
    position: relative;
    width: 4.5rem;
    aspect-ratio: 1/1;
    margin: 2.5rem;
    cursor: pointer;

    /* 햄버거 바 공통 */
    span {
      position: absolute;
      height: 2px;
      background-color: #333;
      border-radius: 25px;
    }

    /* 1번 바 */
    span:nth-child(1) {
      width: 100%;
      top: 0px;
      transition: top 0.3s 0.3s, transform 0.3s;
    }
    /* 2번 바 */
    span:nth-child(2) {
      width: 60%;
      top: 10px;
      left: 35%;
      transition: 0.1s 0.3s;
    }
    /* 3번 바 */
    span:nth-child(3) {
      width: 100%;
      top: 20px;
      transition: top 0.3s 0.3s, transform 0.3s;
    }
  }
  /* 햄버거 버튼에 클래스 on */
  /* 1번 바 */
  .menu-button.on span:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
    transition: top 0.3s, transform 0.3s 0.3s;
  }
  /* 2번 바 */
  .menu-button.on span:nth-child(2) {
    top: 10px;
    width: 0%;
    left: 50%;
    transition: 0.1s 0.3s;
  }

  /* 3번 바 */
  .menu-button.on span:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
    transition: top 0.3s, transform 0.3s 0.3s;
  }

  /* 메뉴 아이콘 박스 */
  .menu-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  /* 메뉴 하단 아이콘 박스 */
  .icon-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  /* 장바구니 버튼 */
  .menu-buttom {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding: 1rem;
  }
}

/**************** 오픈 사이드 메뉴 - 카테고리 + 검색 ****************/
.menu-open {
  position: fixed;
  width: 0;
  height: 100vh;
  right: 90px;
  background-color: #fff;
  border-radius: 3% 0 0 3%;
  overflow: hidden;
  transition: width 0.3s;
  z-index: 999;

  ul {
    position: absolute;
    height: 100%;
    top: 7%;
    margin: 5rem;
  }

  li {
    padding: 1rem 0;
    font-size: 4.5rem;
    white-space: nowrap;
  }
}
/* 사이드 메뉴 클래스 on */
.menu-open.on {
  width: 30vw;
}
/* 서브 메뉴 */
.smenu {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in;

  li {
    font-size: 2.5rem;
    padding: 5px;
  }
}
/* 서브 메뉴 호버시 */
.menu-open > ul > li:hover .smenu {
  height: 300px;
}

/* 검색 바 */
.search-bar {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 8%;
  margin: 2rem 0;
  border-radius: 20px;
  background-color: #efefef;
  box-sizing: border-box;

  /* 검색 입력창 */
  input {
    font-size: 15px;
    width: 77%;
    margin-top: 5px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
  }
  input:focus {
    outline: none;
  }

  /* 검색 버튼 */
  .schbtn {
    margin-top: 12px;
    margin-left: 15px;
  }
}