@charset "utf-8";

/* 공통 모듈 CSS - common.css */
/* 공유 기능 요소 셋팅 */

/* body * {
    outline: 2px dashed #ccc;
} */

/********************* 1. 상단 영역 *********************/

/********************* 2. 인트로 영역 *********************/
#intro-area{
    width: 100%;
    height: 900px;
    background-color: #f1eee9;
}

/* 인트로 동영상 */
.intro-box{
    width: 100%;
}

/********************* 3. 슬라이드 배너 영역 *********************/
#ban-area{
    width: 100%;
    height: 100vh;
    background-color: #f1eee9;
}

/********************* 4. 스크롤 배너 영역 *********************/
/* 4. 스크롤 배너 파트 */
.scroll-area{
    width: 100%;
    height: 100vh;
}

/********************* 5. 동영상 영역 *********************/

/* 클립 동영상 */
.video-area{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f1eee9;
}

/********************** 6. 하단 영역 **********************/
#footer-area{
    height: 351px;
    padding: 40px;
}

#footer-area ul,ol{
    display: flex;
    color: #111;
}

#footer-area ul li{
    margin-right: 30px;
}

#footer-area ol li{
    margin-top: 10px;
    margin-right: 20px;
}

#footer-area p{
    margin-top: 30px;
    color: #888;
}

/* 하단 로고 */
.footer-logo{
    display: flex;
    color: #111;
    font-size: 2rem;
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif, dotum, gulim;
}
