@charset "utf-8";

/* 공통 모듈 CSS - common.css */
/* 공유 기능 요소 셋팅 */

body * {
    outline: 2px dashed #ccc;
}

/********************** 1. 상단영역 **********************/
/* 상단 메뉴 */
.top-area{
    height: 80px;
    background-color: #f1eee9;
}

.top-area ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 100px;
}

.top-menu ul li{
    padding: 20px;
}

.top-menu ul a{
    color: #111;
    font-size: 16px;
}

/* 상단 메인 로고 */
.main-logo{
    display: flex;
    justify-content: center;
    color: #111;
    font-size: 2rem;
    margin: 14px;
    margin-left: 16px;
    margin-top: 20px;
    font-family: 'Noto Sans KR','Halvar Breitschrift', sans-serif, dotum, gulim;
}

/********************* 2. 메인영역 *********************/
/* 인트로 동영상 */
.intro-area{
    width: 100vw;
    height: 900px;
    background-color: #f1eee9;
}

/* 슬라이드 배너 */
.ban-area{
    width: 100vw;
    height: 100vh;
    background-color: #f1eee9;
}

/* 스크롤 배너 */
.scroll-area{
    width: 100vw;
    height: 100vh;
    background-color: #f1eee9;
}

/* 동영상 파트 */

/* 동영상 */
.clip-video-area{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f1eee9;
}

/********************** 3. 하단영역 **********************/
.footer-area{
    height: 351px;
    padding: 40px;
}

.footer-area ul,ol{
    display: flex;
    color: #111;
}

.footer-area ul li{
    margin-right: 30px;
}

.footer-area ol li{
    margin-top: 10px;
    margin-right: 20px;
}

.footer-area p{
    margin-top: 30px;
    color: #888;
}

/* 하단 로고 */
.footer-logo{
    display: flex;
    color: #111;
    font-size: 2rem;
    margin-top: 30px;
    font-family: 'Noto Sans KR','Halvar Breitschrift', sans-serif, dotum, gulim;
}
