@charset "utf-8";

/* 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swapfamily=Noto+Sans+KR:wght@100..900&display=swap"&family=Noto+Sans+KR:wght@500&display=swap');

/* 
    0. 메뉴 등 일반체
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Sans KR','Halvar Breitschrift', sans-serif, dotum, gulim (원본 사이트 폰트)

    1. 배너 타이틀
    font-family: "Archivo Black", sans-serif;
*/

/**************** 공통 클래스 ****************/
/* 중앙속박스 */
.inbox{
    /* 최대 가로 크기 */
    /* max-width: 1360px; */

    /* 블록박스 중앙정렬 */
    margin: 0 auto;
}

/* 스티키 적용박스 */
.stk-page{
    position: sticky;
    top: 100px;
}