@charset "utf-8";

/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커몬 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
@import url(./grid12_float.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

/* 1. 상단영역 */
.top-area{
    height: 120px;
}

.logo{
    font-size: 30px;
}

/* 2. 배너영역 */
.ban-area{
    height: 680px;
    
}

/* 2.5.서브파트메뉴 */
.spart-menu{
    height: 80px;
}
/* 3. 인트로영역 */
.intro-area{
    height: 180px;
}
/* 4. 미리보기영역 */
.preview-area{
    height: 180px;
}
/* 5. 현장포토영역 */
.real-photo-area{
    height: 1343px;
}
/* 6. 대표이미지 영역 */
.main-photo-area{
    height: 731px;
}
/* 7. 최신동영상영역 */
.clip-video-area{
    height: 548px;
}
/* 8. 하단영역 */
.footer-area{
    height: 371px;
}
