@charset "utf-8";

/* 메인페이지 CSS - main.css */

/* 리셋, 코아, 커몬 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
@import url(./grid12_flex.css);


/********************* 1. 인트로 영역 *********************/


/********************* 2. 슬라이드 배너 영역 *********************/
/* 슬라이드 배너 - 좌우로 넘어가는 셋팅 */
.slide-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /* 슬라이드 위치 이동 초기값 */
    left: 0;
}

.slider li{
    flex-basis: 100%;
    flex-shrink: 0;

    /* 공통 배경 설정 */
    background-repeat: no-repeat;
    background-size: cover;
}

.slban-01{
    background-image: url(../images/banner1.jpg);
}
.slban-02{
    background-image: url(../images/banner2.jpg);
}
.slban-03{
    background-image: url(../images/banner3.jpg);
}
.slban-04{
    background-image: url(../images/banner4.jpg);
}

/* 전체 textArea 공통 */
.textArea{
    position: relative;
    z-index: 1;
}

/* 슬라이드 배너 타이틀 */
#ban-area .textWarp>p{
    position: absolute;
    font-size: 7rem;
    font-weight: bold;
    font-family: "Archivo Black", sans-serif;
    top: 400px;
    left: 110px;
    color: #fff;
}

/* 슬라이드 배너 span */
#ban-area .textWarp>span{
    position: absolute;
    font-size: 1.8rem;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif, dotum, gulim;
    top: 500px;
    left: 110px;
    color: #fff;
}

/********************* 3. 스크롤 배너 영역 *********************/
/* 스크롤 배너 - 아래 위로 넘어가는 셋팅 */
.scroll-box{
    position: relative;
    width: 95%;
    height: 100%;
    left: 45px;
    border-radius: 30px;
    overflow: hidden;
}

.scroll{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.scroll li{
    flex-basis: 100%;
    flex-shrink: 0;

    /* 공통 배경 설정 */
    background-repeat: no-repeat;
    background-size: cover;
}

.scban-01{
    background-image: url(../images/main1.jpg);
}
.scban-02{
    background-image: url(../images/main2.jpg);
}
.scban-03{
    background-image: url(../images/main3.jpg);
}
.scban-04{
    background-image: url(../images/main4.jpg);
}

/* 스크롤 배너1 타이틀 */
#scroll1 .textWarp>p{
    position: absolute;
    font-size: 7rem;
    font-weight: bold;
    font-family: "Archivo Black", sans-serif;
    top: 360px;
    left: 150px;
    color: #fff;
}

/* 스크롤 배너1 span */
.scroll-area .textWarp>span{
    position: absolute;
    font-size: 1.8rem;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif, dotum, gulim;
    top: 460px;
    left: 150px;
    color: #fff;
}

/* 스크롤 배너1 링크 */
.scroll-area .textWarp ul li a{
    position: absolute;
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif, dotum, gulim;
    color: #fff;
    top: 550px;
    left: 150px;
}

/********************* 4. 동영상 영역 *********************/
/* 동영상 셋팅 */
.video-box video{
    position: absolute;
    width: 1000px;
    top: 20vh;
    left: 20vw;
    overflow: hidden;
}

/********************** 5. 하단 영역 **********************/

