@charset "utf-8";

/* sub_asoka : 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

@font-face { font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/ noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-style: normal; }

/* 
title : 프리텐다드 extrabold / 55px / h2
subtitle : 프리텐다드 bold / 30px / h3
text : 프리텐다드 regular / 16px / lh24 / desc
 */

 html{
    font-size: 10px;
 }
 body{
    background-color: #000;
    font-family: "Pretendard-Regular", AppleGothic, Sans-serif;
 }
 
/*************  공통 꾸밈요소 *************/

  /* 블릿 */
  .bullet::before{
    content: '';
    display: block;

    border-radius: 2rem;

    width: 15px;
    height: 9px;
    background-color: #797979;
    margin-left: 114%;

  }
  .bullet{
    margin-bottom: 2rem;
    display: block;

    border-radius: 2rem;

    width: 45px;
    height: 9px;
    background-color: #797979;
  }

  /* 카테고리 메뉴 사이 바 */
  .bar-line{
    display: block;
    width: 1px;
    background-color: #797979;
  }
  
  .under-line{
    display: block;
    height: 1px;
    background-color: #797979;
  }