@charset "utf-8";

/* sub_asoka : 메인 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 그리드 12  */
@import url(./grid_12_flex.css);

/* 공사중 */
body * {
    outline: 2px dashed red;
}

.top-banner{
    position: relative;
    max-width: 1500px;
    margin: 0;
    padding: 0;
}