/* 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap&Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* 
    0. 메뉴 등 한글 일반체
    font-family: 'Noto Sans KR', sans-serif;

    1. 영문 폰트
    font-family: "Playfair Display", serif;
    
    2. 배너 링크 폰트
    font-family: 

    'Playfair Display','Noto Sans Korean','Apple SD Gothic Neo','Malgun Gothic','Nanum Gothic','Noto Sans',sans-serif;
*/

/**************** 공통 클래스 ****************/
html {
  scroll-behavior: smooth;
}

/* 중앙속 박스 */
.inbox {
  /* 블록박스 중앙 정렬 */
  margin: 0 auto;
}

html {
  font-family: "Playfair Display", "Noto Sans Korean", "Malgun Gothic",
    "Nanum Gothic", "Noto Sans", sans-serif;
  font-size: 10px;
}

/* 플렉스 박스 설정 */
.fx-box {
  display: flex;
  /* flex-wrap: wrap; */
}

/* 그리드 박스 설정 */
.gr-box {
  display: grid;
}

/* 설명 숨기기 클래스 */
.ir {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
