/* 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap&Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* 
    0. 메뉴 등 한글 일반체
    font-family: 'Noto Sans KR', sans-serif;

    1. 영문 폰트
    font-family: "Playfair Display", serif;
    
    2. 배너 링크 폰트
    font-family: 

    'Playfair Display','Noto Sans Korean','Apple SD Gothic Neo','Malgun Gothic','Nanum Gothic','Noto Sans',sans-serif;
*/

/* 공사중 표시 */
// body * {
//   outline: 2px dotted #bfbfbf;
// }

body {
  background-color: #ebe9e6;
}

html {
  font-family: "Playfair Display", "Noto Sans Korean", "Malgun Gothic",
  "Nanum Gothic", "Noto Sans", sans-serif;
  font-size: 10px;

  /* 부드러운 스크롤 */
  scroll-behavior: smooth;
}

/* 화면 넓이 공통 : 100% - 90px */
.page {
  box-sizing: border-box;
  width: calc(100% - 90px);
  margin-bottom: 3rem;
}

/* 스크롤 등장 액션 */
.scAct {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.scAct.on {
  opacity: 1;
}

/* 중앙 속 박스 */
.inbox {
  /* 블록박스 중앙 정렬 */
  margin: 0 auto;
}

/* 플렉스 박스 설정 */
.fx-box {
  display: flex;
  flex-wrap: wrap;
}

/* 그리드 박스 설정 */
.gr-box {
  display: grid;
}

/* 설명 숨기기 클래스 */
.ir {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
